<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CS Trade</title>
  <link rel="stylesheet" href="react-grid-layout-styles.css">
  <link rel="stylesheet" href="react-resizable-styles.css">
  <link rel="stylesheet" href="react-contextmenu.css">
  <link rel="stylesheet" href="rc-slider/assets/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>
<body style="background: url('http://i65.tinypic.com/j6k6rt.jpg') no-repeat center center fixed; background-size: cover;">
  <div id="app"></div>
  <script> var json_state = JSON.parse('<%- JSON.stringify(state) %>') </script>
  <script src="bundle.js"></script>
</body>
</html>